<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangzhicheng.modules.mapper.IApiCartMapper">

    <resultMap id="cartMap" type="com.liangzhicheng.modules.entity.CartEntity">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="sessionId" column="session_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="goodsSn" column="goods_sn"/>
        <result property="productId" column="product_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="marketPrice" column="market_price"/>
        <result property="retailPrice" column="retail_price"/>
        <result property="number" column="number"/>
        <result property="goodsSpecifitionNameValue" column="goods_specifition_name_value"/>
        <result property="goodsSpecifitionIds" column="goods_specifition_ids"/>
        <result property="checked" column="checked"/>
        <result property="listPicUrl" column="list_pic_url"/>
    </resultMap>

    <select id="queryListSelf" resultMap="cartMap">
        SELECT
               cart.*,
               goods.list_pic_url,
               product.retail_price retailProductPrice
        FROM test_cart cart
        LEFT JOIN test_goods goods ON cart.goods_id = goods.id
        LEFT JOIN test_product product ON product.goods_id = cart.goods_id AND product.id = cart.product_id
        WHERE 1 = 1
        <if test="userId != null">
            AND cart.user_id = #{userId}
        </if>
        <if test="goodsId != null">
            AND cart.goods_id = #{goodsId}
        </if>
        <if test="productId != null">
            AND cart.product_id = #{productId}
        </if>
        <if test="checked != null">
            AND cart.checked = #{checked}
        </if>
        <choose>
            <when test="sortField != null and sortField.trim() != ''">
                ORDER BY ${sortField} ${sortOrder}
            </when>
            <otherwise>
                ORDER BY cart.id DESC
            </otherwise>
        </choose>
    </select>

</mapper>
