<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangzhicheng.modules.mapper.IApiGoodsMapper">

    <resultMap id="goodsMap" type="com.liangzhicheng.modules.entity.GoodsEntity">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="goodsSn" column="goods_sn"/>
        <result property="name" column="name"/>
        <result property="brandId" column="brand_id"/>
        <result property="goodsNumber" column="goods_number"/>
        <result property="keywords" column="keywords"/>
        <result property="goodsBrief" column="goods_brief"/>
        <result property="goodsDesc" column="goods_desc"/>
        <result property="isOnSale" column="is_on_sale"/>
        <result property="addTime" column="add_time"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="isDelete" column="is_delete"/>
        <result property="attributeCategory" column="attribute_category"/>
        <result property="counterPrice" column="counter_price"/>
        <result property="extraPrice" column="extra_price"/>
        <result property="isNew" column="is_new"/>
        <result property="goodsUnit" column="goods_unit"/>
        <result property="primaryPicUrl" column="primary_pic_url"/>
        <result property="listPicUrl" column="list_pic_url"/>
        <result property="retailPrice" column="retail_price"/>
        <result property="sellVolume" column="sell_volume"/>
        <result property="primaryProductId" column="primary_product_id"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="promotionDesc" column="promotion_desc"/>
        <result property="promotionTag" column="promotion_tag"/>
        <result property="appExclusivePrice" column="app_exclusive_price"/>
        <result property="isAppExclusive" column="is_app_exclusive"/>
        <result property="isLimited" column="is_limited"/>
        <result property="isHot" column="is_hot"/>
        <result property="marketPrice" column="market_price"/>

        <result property="productId" column="product_id"/>
        <result property="orderNum" column="order_num"/>
    </resultMap>

    <select id="listProduct" resultMap="goodsMap">
        SELECT
               goods.id,
               goods.name,
               goods.list_pic_url,
               goods.market_price,
               goods.retail_price,
               goods.goods_brief,
               p1.id productId,
               COUNT(og.id) orderNum
        FROM test_goods goods
        LEFT JOIN test_product p1 ON goods.id = p1.goods_id
        LEFT JOIN test_product p2 ON goods.id = p2.goods_id AND p2.retail_price > p1.retail_price AND p1.id != p2.id
        LEFT JOIN test_order_goods og ON og.product_id = p1.id
<!--        <if test="isGroup != null and isGroup == true">-->
<!--            LEFT JOIN test_goods_group gg ON gg.goods_id = goods.id-->
<!--        </if>-->
        WHERE 1 = 1
        AND p1.id IS NOT NULL
        AND p2.id IS NULL
        AND goods.is_delete != 1
        <if test="isNew != null">
            AND goods.is_new = #{isNew}
        </if>
        <if test="isHot != null">
            AND goods.is_hot = #{isHot}
        </if>
        <if test="brandId != null">
            AND goods.brand_id = #{brandId}
        </if>
        <if test="name != null and name.trim() != ''">
            AND goods.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="categoryId != null">
            AND goods.category_id = #{categoryId}
        </if>
        <if test="keywords != null and keywords.trim() != ''">
            AND goods.keywords LIKE CONCAT('%', #{keywords}, '%')
        </if>
<!--        <if test="isGroup != null and isGroup == true">-->
<!--            AND gg.id is not null-->
<!--        </if>-->
        <if test="categoryIds != null">
            AND goods.category_id IN
            <foreach collection="categoryIds" item="categoryId" open="(" separator="," close=")">
                #{categoryId}
            </foreach>
        </if>
        <if test="goodsIds != null">
            AND goods.id IN
            <foreach collection="goodsIds" item="goodsId" open="(" separator="," close=")">
                #{goodsId}
            </foreach>
        </if>
        GROUP BY
                 goods.id,
                 goods.name,
                 goods.list_pic_url,
                 goods.market_price,
                 goods.retail_price,
                 goods.goods_brief,
                 p1.id
        <choose>
            <when test="sortField != null and sortField.trim() != ''">
                ORDER BY ${sortField} ${sortOrder}
            </when>
            <otherwise>
                ORDER BY goods.id DESC
            </otherwise>
        </choose>
    </select>

</mapper>
