<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangzhicheng.modules.mapper.IApiOrderMapper">

    <resultMap id="orderMap" type="com.liangzhicheng.modules.entity.OrderEntity">
        <result property="id" column="id"/>
        <result property="orderSn" column="order_sn"/>
        <result property="userId" column="user_id"/>
        <result property="orderStatus" column="order_status"/>
        <result property="shippingStatus" column="shipping_status"/>
        <result property="payStatus" column="pay_status"/>
        <result property="consignee" column="consignee"/>
        <result property="country" column="country"/>
        <result property="province" column="province"/>
        <result property="city" column="city"/>
        <result property="district" column="district"/>
        <result property="address" column="address"/>
        <result property="mobile" column="mobile"/>
        <result property="postscript" column="postscript"/>
        <result property="shippingId" column="shipping_id"/>
        <result property="shippingName" column="shipping_name"/>
        <result property="shippingNo" column="shipping_no"/>
        <result property="payId" column="pay_id"/>
        <result property="payName" column="pay_name"/>
        <result property="shippingFee" column="shipping_fee"/>
        <result property="actualPrice" column="actual_price"/>
        <result property="integral" column="integral"/>
        <result property="integralMoney" column="integral_money"/>
        <result property="orderPrice" column="order_price"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="addTime" column="add_time"/>
        <result property="confirmTime" column="confirm_time"/>
        <result property="payTime" column="pay_time"/>
        <result property="freightPrice" column="freight_price"/>
        <result property="couponId" column="coupon_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="couponPrice" column="coupon_price"/>
        <result property="callbackStatus" column="callback_status"/>
        <result property="orderType" column="order_type"/>
    </resultMap>

    <select id="getSelf" resultMap="orderMap">
		SELECT
		       o.*,
		       s.code shippingCode
		FROM nideshop_order o
		LEFT JOIN nideshop_shipping s ON o.shipping_id = s.id
		where o.id = #{id}
	</select>

</mapper>
