<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangzhicheng.modules.mapper.IGoodsMapper">

    <resultMap id="goodsMap" type="com.liangzhicheng.modules.entity.GoodsEntity">
        <result property="id" column="id"/>
        <result property="categoryId" column="category_id"/>
        <result property="goodsSn" column="goods_sn"/>
        <result property="name" column="name"/>
        <result property="brandId" column="brand_id"/>
        <result property="goodsNumber" column="goods_number"/>
        <result property="keywords" column="keywords"/>
        <result property="goodsBrief" column="goods_brief"/>
        <result property="goodsDesc" column="goods_desc"/>
        <result property="isOnSale" column="is_on_sale"/>
        <result property="addTime" column="add_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="isDelete" column="is_delete"/>
        <result property="attributeCategory" column="attribute_category"/>
        <result property="counterPrice" column="counter_price"/>
        <result property="extraPrice" column="extra_price"/>
        <result property="isNew" column="is_new"/>
        <result property="goodsUnit" column="goods_unit"/>
        <result property="primaryPicUrl" column="primary_pic_url"/>
        <result property="listPicUrl" column="list_pic_url"/>
        <result property="retailPrice" column="retail_price"/>
        <result property="sellVolume" column="sell_volume"/>
        <result property="primaryProductId" column="primary_product_id"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="promotionDesc" column="promotion_desc"/>
        <result property="promotionTag" column="promotion_tag"/>
        <result property="appExclusivePrice" column="app_exclusive_price"/>
        <result property="isAppExclusive" column="is_app_exclusive"/>
        <result property="isLimited" column="is_limited"/>
        <result property="isHot" column="is_hot"/>
        <result property="marketPrice" column="market_price"/>
        <result property="createUserId" column="create_user_id"/>
        <result property="createUserDeptId" column="create_user_dept_id"/>
        <result property="updateUserId" column="update_user_id"/>
    </resultMap>

    <select id="getTotal" resultType="java.lang.Integer">
        SELECT
               COUNT(goods.id)
        FROM test_goods goods
        LEFT JOIN test_category category ON goods.category_id = category.id
        LEFT JOIN test_attribute_category ac ON goods.attribute_category = ac.id
        LEFT JOIN test_brand brand ON brand.id = goods.brand_id
        WHERE 1 = 1
        <!-- 权限过滤 -->
        <!-- ${filterSql} -->
        <if test="name != null and name.trim() != ''">
            AND goods.name LIKE CONCAT('%', #{name}, '%')
        </if>
        AND goods.is_delete = #{isDelete}
    </select>

    <select id="queryListSelf" resultType="com.liangzhicheng.modules.entity.GoodsEntity" resultMap="goodsMap">
        SELECT
               goods.id,
               goods.category_id,
               goods.goods_sn,
               goods.name,
               goods.brand_id,
               goods.goods_number,
               goods.keywords,
               goods.goods_brief,
               goods.goods_desc,
               goods.is_on_sale,
               goods.add_time,
               goods.update_time,
               goods.sort_order,
               goods.is_delete,
               goods.attribute_category,
               goods.counter_price,
               goods.extra_price,
               goods.is_new,
               goods.goods_unit,
               goods.primary_pic_url,
               goods.list_pic_url,
               goods.retail_price,
               goods.sell_volume,
               goods.primary_product_id,
               goods.unit_price,
               goods.promotion_desc,
               goods.promotion_tag,
               goods.app_exclusive_price,
               goods.is_app_exclusive,
               goods.is_limited,
               goods.is_hot,
               goods.market_price,
               goods.create_user_id,
               goods.create_user_dept_id,
               goods.update_user_id,
               category.name categoryName,
               ac.name attributeCategoryName,
               brand.name brandName
        FROM test_goods goods
        LEFT JOIN test_category category ON goods.category_id = category.id
        LEFT JOIN test_attribute_category ac ON goods.attribute_category = ac.id
        LEFT JOIN test_brand brand ON brand.id = goods.brand_id
        WHERE 1 = 1
        <!-- 权限过滤 -->
        <!-- ${filterSql} -->
        <if test="name != null and name.trim() != ''">
            AND goods.name LIKE CONCAT('%', #{name}, '%')
        </if>
        AND goods.is_delete = #{isDelete}
        <choose>
            <when test="sortField != null and sortField.trim() != ''">
                ORDER BY ${sortField} ${sortOrder}
            </when>
            <otherwise>
                ORDER BY goods.id DESC
            </otherwise>
        </choose>
        <if test="currentNo != null and pageSize != null">
            LIMIT #{currentNo}, #{pageSize}
        </if>
    </select>

    <select id="getMax" resultType="java.lang.Integer">
        SELECT MAX(id) FROM test_goods
    </select>

</mapper>
